<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="add-recipe-form

    ">
        <form action="/addRecipe" method="post" enctype="multipart/form-data">
            <label for="">Name</label>
            <input type="text" name="recipeName">
            <label for="">Description</label>
            <input type="text" name="description">
            <label for="">Ingredients</label>
            <input type="text" name="ingredients">
            <label for="">Steps</label>
            <input name="steps"></input>
            <label for="">Upload Image</label>
            <input type="file" accept="image/*" name="recipeImage">
            <button type="submit">Create Recipe</button>

        </form>
    </div>
</body>

</html>